<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derash-API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container my-5 py-5">
    <form action="/" method="post" class="mb-5">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="submit" name="filter" value="get" class="btn-lg px-4 gap-3">Get</button>
          <button type="submit" name="filter" value="send" class="btn-lg px-4">Send</button>
        </div>
      </form>
    <% if(!isSend) {%>
        <form action="/get" method="post">
            <input type="text" name="bill_id" id="bill_id" placeholder="Bill ID">
            <button type="submit">Get</button>
        </form>
    <% }else { %>
        <form id="book-form" action="/send" method="post">
            <input type="text" name="bill_id" id="bill_id" placeholder="Bill ID" required autofocus>
            <input type="text" name="reason" placeholder="Reason For Bill" required>
            <input type="text" name="amount_due" placeholder="Amount To Be Paid" required>
            <input type="date" name="due_date" required>
            <button type="submit">Send</button>
        </form>
    <% } %>

    <% if(locals.data) {%>
        <% if(!isSend) {%>
            <div class="container mt-2 py-5">
                <dl>
                    <dt>Bill_id</dt>
                    <dd><%= data.bill_id %></dd>
                    <dt>Bill_Description</dt>
                    <dd><%= data.bill_desc %></dd>
                    <dt>Amount</dt>
                    <dd><%= data.amount_due %></dd>
                    <dt>Due Date</dt>
                    <dd><%= data.due_date %></dd>
                </dl>
                <form action="/status" method="post">
                    <button type="submit" name="bill_id" value="<%= data.bill_id %>">Check Status</button>
                </form>
                <% if(message !== ""){%>
                    <div class="container_fluid my-5">
                        <div class="p-5 text-center bg-body-tertiary rounded-3">
                          <p class="lead">
                            <%= message %>
                          </p>
                        </div>
                    </div>
                <% } %>
            </div>
        <% }else {%>
            <div class="container mt-2 py-5">
                <dl>
                    <dt>Bill_id</dt>
                    <dd><%= data.bill_id %></dd>
                    <dt>Confirmation</dt>
                    <dd><%= data.message %></dd>
                </dl>
                <% if(message !== ""){%>
                    <div class="container_fluid my-5">
                        <div class="p-5 text-center rounded-3">
                          <p class="lead">
                            <%= message %>
                          </p>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    <% } %>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
